## OHE also known as nominal encoding, is a technique used to represent Categorical data as numerical data, which is more suitable for ML algorithms.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## Create a simple dataframe
dataset = pd.DataFrame({
    'color': ['red','orange','blue','yellow','yellow','red','blue']
})

In [4]:
dataset.head()

    color
0     red
1  orange
2    blue
3  yellow
4  yellow

In [5]:
# Creating an instance of OneHotEncoder
encoder = OneHotEncoder()

In [9]:
## preform fit and transform
encoded=encoder.fit_transform(dataset[['color']]).toarray()

In [11]:
import pandas as pd
encoder_dataset=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [12]:
encoder_dataset

   color_blue  color_orange  color_red  color_yellow
0         0.0           0.0        1.0           0.0
1         0.0           1.0        0.0           0.0
2         1.0           0.0        0.0           0.0
3         0.0           0.0        0.0           1.0
4         0.0           0.0        0.0           1.0
5         0.0           0.0        1.0           0.0
6         1.0           0.0        0.0           0.0

In [14]:
# for new Data
encoder.transform([['blue']]).toarray()

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0., 0.]])

In [15]:
pd.concat([dataset,encoder_dataset], axis=1)

    color  color_blue  color_orange  color_red  color_yellow
0     red         0.0           0.0        1.0           0.0
1  orange         0.0           1.0        0.0           0.0
2    blue         1.0           0.0        0.0           0.0
3  yellow         0.0           0.0        0.0           1.0
4  yellow         0.0           0.0        0.0           1.0
5     red         0.0           0.0        1.0           0.0
6    blue         1.0           0.0        0.0           0.0